name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Build API
      run: go build -v -o bin/main ./cmd/api

    - name: Build Migrate
      run: go build -v -o bin/migrate ./cmd/migrate

    - name: Test
      run: go test -v ./...
